name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.4"

      - name: Generate
        run: go generate ./...

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -coverprofile=coverage.out -covermode=atomic -coverpkg=./...
        env:
          CLI_COVER_PROFILE: ${{ github.workspace }}/cli-coverage.out

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.out,cli-coverage.out
          token: ${{ secrets.CODECOV_TOKEN }}
